/*  Document   : custom
    Created on : 9/2/2010
    Author     : sqv
    Description: css for NCS Address Lookup
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

 
root { 
    display: block;
}
h1 {
	font-style:normal;
    font-size:2em;
    color: maroon;
}
h2 {
	font-style:normal;    
	font-size:1.5em;
    color: maroon;
}
/*h3 {*/
/*	font-style:normal;*/
/*	font-size:1em;*/
/*    color: black;*/
/*}*/
.instructions{
	margin-top:1em;	margin-bottom:1em;
	border:.10em solid grey; -moz-border-radius:0.5em; -webkit-border-radius:0.5em;
	padding:1em;
	color:black;
	background-color:wheat;
	font-size:normal;
}
div.prop {
	display: inline-block;
	margin: .5em 0;
}
fieldset legend {
	color:#8C1919;
	font-size:1.25em;
	font-weight:bold;
}
.maroonRoundRect {
	margin-bottom:1em;
	border:silver solid thin; -moz-border-radius:0.5em; -webkit-border-radius:0.5em;
	padding: 0em 1em 1em 1em; 
	line-height:2;
}
.buttonEffect{
	background-color:silver;
	color:black;
}
.buttonEffect:hover {
	background-color:gold;
	color:black;
}
.buttonEffect:active {
	background-color:maroon;
	color:gold;
}
.textfieldEffect:hover, .textfieldEffect:focus {
	background-color:gold;
	color:black;
}
#errBoxZp4 {
	background-color: #FFD;
}
.highlightGreen {
/*	margin:auto;*/
	border:silver solid thin;
	padding:.1em 1em;
	background-color:yellowgreen;
	color:black;
	font-weight:bold;
/*	text-align:center;*/
}
.highlightRed {
/*	margin:auto;*/
	border:silver solid thin;
	padding:.1em 1em;
	background-color:red;
	color:black;
	font-weight:bold;
/*	text-align:center;*/
}
.highlightYellow {
/*	clear:both;*/
/*	margin:auto;*/
	border:silver solid thin;
	padding:.1em 1em;
	background-color:yellow;
/*	text-align:center;*/
}
.textCenter { text-align:center; }
.textRight { text-align:right; }
.fontSmall{ font-size:small; }
.fontSmaller{ font-size:smaller; }
.fontXSmall{ font-size:x-small; }
.fontRed{ 
	color:red; 
/*	font-weight:bold; */
}
.fontGreen{ 
	color:green; 
/*	font-weight:bold; */
}
#footer_inner, #footer_right {
	font-size:0.6em;
}
